/* Work sans font */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Open+Sans:wght@300&family=Work+Sans:wght@400;500;600;700;800&display=swap');
/* Shared Styles */

*{
    font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Work Sans', sans-serif;
}

.btn-primary{
    border-radius: 8px;
background: #FF900E;
padding: 20px 25px;
font-weight: 600;
font-family: Work Sans;
font-size: 20px;
color: aliceblue;
}

/* Header */

header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}
.nav-title{
    color:  #131313;
    font-size: 2.8rem;
    font-weight: 700;
}
nav{
    display: flex;
    justify-content: space-between;
}
nav > ul {
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
   

}
nav li a{
    text-decoration: none;
    color: #424242;
}
/* Banner */
.banner-content{
    text-align: center;
    margin: 0 auto;
    max-width: 800px;
}
.banner-title{
    font-size: 4rem;
    font-weight: 700;
    color:  #131313;

}
.banner-description{
    color:  #727272;

}
.banner-image{
    margin-top: 20px;
    width: 100%;
}


/* Responsive */
/* Mobile Devices */
@media screen and (max-width: 576px){
    header{
        padding: 20px;
    }
    nav{
        flex-direction: column;
    }
    
}
/* Medium devices */
@media screen and (min-width: 576px) and (max-width: 960px){
    header{
        padding: 50px;
    }
    nav{
        flex-direction: column;
    }
}